html, body{ margin:0 auto;}
.bcg-left{background-color:#efefef;}	
@font-face {
   font-family: NokiaPure;
   src: url(font/Nokia Pure Text Bold.ttf);
}
body-font {
   font-family: NokiaPure;
   color:#efefef
   font-size:10px;
}

/*home
a:link {padding:50px;  color:#124191; font-size:12px;}
a:hover{color:red}
*/

/*Left Panel*/
.dd{min-width:95%; padding:5px; border:1px solid #DCDCDC;  border-radius:4px; color:#124191;}
.source{padding:4px; background-color:#d1d1e0; border-radius:4px; margin:2px;}
.acnt-divider{border-top:1px solid #efefef; padding:5px; color:#5c5c8a;}
.list-group-item {font-size:12px; padding:8px 15px; }
.list-group-item a  {color:#696969; text-decoration:none}
.active  {font-weight:bold;}
.notActive  {font-weigth:normal;}
/*journey placeholder*/
.journey-heading{font-size:14px; text-align:center}
.aware{background-color:#d8e9f3; border-right:1px solid #fff; text-align:center; font-weight:bold; font-size:14px;}
.consider{background-color:#b2d3e6; border:1px solid #fff; text-align:center ;font-weight:bold; font-size:14px;}
.action{background-color:#8dbdd8; border:1px solid #fff; text-align:center; font-weight:bold; font-size:14px;}

tr.hdr
{
    cursor:pointer;
}



.tooltip.right .tooltip-inner {
    background-color:#124191;
	text-align:left;
	padding:9px;
  }
.tooltip.right .tooltip-arrow {
          border-right-color: #124191;
       }

